#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    - @entries.each do |e|
      .panel-heading{:role => "tab",:id => "heading#{e.id}"}
        %h4.panel-title
          %a.collapsed{"aria-controls" => "collapse#{e.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{e.id}", :role => "button"}
            = e.title
      .panel-collapse.collapse{"aria-labelledby" => "heading#{e.id}", :role => "tabpanel", :id => "collapse#{e.id}"}
        .panel-body.margin10
          .col-xs-12.col-sm-6.col-md-8
            = e.content.html_safe
