!!!
%html
  %head
    %title ❤️Milhy❤️
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - bg = "https://isowhey.files.wordpress.com/2012/08/empty-ii.jpg"
    - goodbg = Background.find(rand(1..Background.count)).url
  %body#bg{"style" =>"background: url(#{goodbg != nil ? goodbg : bg })" }
    = yield
